td.exact-match {
    background-color: #ccffcc;
}

td.near-match {
    background-color: #ffffcc;
}

td.mismatch {
    background-color: #ffcccc;
}

table.table.stopwatch-times {
    width: auto;
}

table.table.stopwatch-times > tbody > tr > td {
    text-align: right;
}

td.empty-cell {
    color: #dddddd;
}

label.stopwatch-time-label {
    font-weight: initial;
}