button.btn.nav-link.barcode-scanner-file-ok {
    background-color: #e6ffe6;
}

td.exact-match,
tr.barcode-scanner-row-ok,
button.btn.nav-link.active.barcode-scanner-file-ok {
    background-color: #ccffcc;
}

button.btn.nav-link.barcode-scanner-file-warning {
    background-color: #ffffe6;
}

td.near-match,
tr.barcode-scanner-row-warning,
button.btn.nav-link.active.barcode-scanner-file-warning {
    background-color: #ffffcc;
}

button.btn.nav-link.barcode-scanner-file-error {
    background-color: #ffe6e6;
}

td.not-near-match,
td.mismatch,
tr.barcode-scanner-row-error,
button.btn.nav-link.active.barcode-scanner-file-error {
    background-color: #ffcccc;
}

table.table.timer-times {
    float: left;
}

table.table.timer-times,
table.table.number-checker-table,
table.table.barcode-scanner-table {
    width: auto;
}

table.table.timer-times>tbody>tr>td,
table.table.number-checker-table>tbody>tr>td {
    text-align: right;
}

table.table.timer-times>tbody>tr>td.scanned-athlete,
table.table.timer-times>tbody>tr>td.no-scanned-athlete {
    text-align: left;
}

table.table.timer-times>tbody>tr>td.no-scanned-athlete {
    color: #dddddd;
}

table.table.timer-times>tbody>tr>td,
table.table.barcode-scanner-table>tbody>tr>td {
    padding-top: 1px;
    padding-bottom: 1px;
}

table.table.timer-times>tbody>tr>td>input[type=checkbox] {
    margin: 0;
}

table.table.timer-times>tbody>tr>td>label {
    margin-bottom: 0;
}

td.empty-cell {
    color: #dddddd;
}

.table-bordered>tbody>tr>td.underlined {
    border-bottom: 5px solid black;
}

.table-bordered>tbody>tr>td.underlined.highlighted {
    border-bottom: 5px solid red;
}

td.zero-delta {
    color: white;
    background-color: #008000;
    font-weight: bold;
}

td.nonzero-delta {
    color: white;
    background-color: red;
    font-weight: bold;
}

label.timer-time-label {
    font-weight: initial;
}

label.timer-time-label.excluded {
    text-decoration: line-through;
    color: #888888;
}

th.timer-header {
    text-align: center;
}

.table>tbody>tr>td.delete-button-cell {
    padding: 4px;
    vertical-align: middle;
}

input#eventDateBox,
input#eventTimeBox {
    margin-left: 10px;
}

input#eventDateBox.date-error,
input#eventTimeBox.time-error {
    background-color: #ffdddd;
}

input#eventDateBox.date-error:focus,
input#eventTimeBox.time-error:focus {
    background-color: inherit;
}

div.no-number-checker-entries {
    text-align: left;
}

input.number-checker-manual-entry {
    max-width: 120px;
    width: 120px;
}

input.number-checker-manual-entry.number-error {
    background-color: #ffdddd;
}

input.number-checker-manual-entry.number-error:focus {
    background-color: inherit;
}

table.table.number-checker-table>tbody>tr.number-checker-manual-entry-row>td {
    text-align: left;
}

button.number-checker-command {
    margin-left: 3px;
    margin-right: 3px;
}

input#eventTimeBox {
    max-width: 80px;
    width: 80px;
    display: inline-block;
}

button.event-time-button {
    margin-left: 3px;
}

.misscanned {
    font-weight: bold;
    text-align: center;
}

tr.deleted-barcode-scanner-row {
    text-decoration: line-through;
    color: #aaaaaa;
    font-style: italic;
}

.no-files-uploaded {
    margin-top: 10px;
}

div.barcode-scanner-buttons,
div.timer-buttons {
    float: right;
}

div.barcode-scanner-buttons button,
div.timer-buttons button,
div.timer-offset-buttons button,
div.timer-header-buttons button {
    margin-left: 15px;
    margin-bottom: 10px;
}

div.barcode-scanner-buttons,
div.timer-buttons,
div.timer-offset-buttons,
div.timer-header-buttons {
    margin-left: -15px;
    margin-bottom: -10px;
}

div.timer-header-buttons svg {
    color: white;
}

/* Adapted from https://github.com/twbs/bootstrap/issues/21881#issuecomment-341972830 */
.btn-group-xs>.btn,
.btn-xs {
    padding: .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

td.swap-barcodes-around-button-cell {
    vertical-align: middle;
}

div.validation-error {
    color: #dc3545;
}

div#actionsPanelContainer {
    margin-bottom: 20px;
}

div#actionsPanelContainer button {
    margin-right: 10px;
    margin-bottom: 10px;
}

div#timerMatchSummaryView {
    padding: 0 15px 0 15px;
    float: left;
}

div.token-operation-help-text {
    padding-left: 20px;
    padding-bottom: 25px;
    color: #999999;
    font-style: italic;
}

#header {
    float: left;
}

.alert.warning-condensed {
    padding: .375rem 0.625rem;
}

div.problems-container {
    padding-top: 15px;
    clear: both;
}

textarea#pasteFileDialogTextArea {
    width: 100%;
    min-height: 300px;
}

span.about-link {
    padding-left: 35px;
}

@media screen and (max-width:767px) {
    .scanner-date-cell {
        display: none;
    }

    div.token-operation-help-text:not(.selected) {
        display: none;
    }
}