td.exact-match {
    background-color: #ccffcc;
}

td.near-match {
    background-color: #ffffcc;
}

td.mismatch {
    background-color: #ffcccc;
}

div.stopwatch-view, div.number-checker-view {
    float: left;
}

div.number-checker-view {
    margin-left: 50px;
}

table.table.stopwatch-times {
    float: left;
}

table.table.stopwatch-times, table.table.number-checker-table {
    width: auto;
}

table.table.stopwatch-times > tbody > tr > td, table.table.number-checker-table > tbody > tr > td {
    text-align: right;
}

div.stopwatch-buttons {
    padding: 0 15px 0 15px;
    float: left;
}

td.empty-cell {
    color: #dddddd;
}

.table-bordered > tbody > tr > td.underlined {
    border-bottom: 5px solid black;
}

td.zero-delta {
    color: white;
    background-color: #008000;
    font-weight: bold;
}

td.nonzero-delta {
    color: white;
    background-color: red;
    font-weight: bold;
}

label.stopwatch-time-label {
    font-weight: initial;
}

th.stopwatch-header {
    text-align: center;
}
